* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell';
  background:linear-gradient(90deg, rgba(0, 188, 212, 1) 14%, rgba(130, 154, 238, 1) 100%);
}